<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="_context_path" data-th-href="@{/}"/>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16"  data-th-href="@{/images/favicon.png}" />
    <title layout:title-pattern="Sprintel - $CONTENT_TITLE">Sprintel Delivery</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" data-th-href="@{/plugins/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" data-th-href="@{/plugins/formvalidation/formValidation.css}" />

    <!-- Custom CSS -->
    <link rel="stylesheet" data-th-href="@{/css/login.css}">
    <link rel="stylesheet" data-th-href="@{/css/style.css}">

    <!-- You can change the theme colors from here -->
    <link data-th-href="@{/css/colors/megna.css}" id="theme" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="fix-header card-no-border logo-center">

<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- Logo -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img th:src="@{/images/logo-light-icon.png}" alt="Sprintel" class="dark-logo" width="60%">
            </a>
        </div>
    </nav>
</header>

<!--<div class="limiter">-->
    <th:block layout:fragment="content"></th:block>
<!--</div>-->

<!--<footer class="footer-error text-center">© 2018 <a href="https://ganji.co.ke">Ganji</a></footer>-->

<th:block>
    <script th:src="@{/plugins/jquery/jquery.min.js}"></script>
    <script th:src="@{/plugins/formvalidation/formValidation.min.js}"></script>
    <script th:src="@{/plugins/formvalidation/framework/bootstrap.min.js}"></script>
    <!--Additional JS resources-->
    <th:block layout:fragment="scripts"></th:block>
    <!--Additional JS resources-->
</th:block>

</body>
</html>
