<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_TEMP" value="./logs"/>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <jmxConfigurator/>

    <timestamp key="bySecond" datePattern="yyyy'-'MM'-'dd'T'HH-mm-ss"/>

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/delivery.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--rollover hourly-->
            <fileNamePattern>./logs/delivery.log_%d{yyyy-MM-dd-HH}.%i</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>%d [%t] %X{mdcData}%5p %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="ROLLING" />
    </root>

</configuration>
